#root {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  border: solid green 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-contanier {
  border: solid red 2px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-card {
  border: solid blue 2px;
  height: 12rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
}

.product-image {
  size: 5rem;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: solid pink 2px;
  height: 100%;
  width: 100%;
}

.page-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  border: solid yellow 2px;
  padding: 1rem;
}

.page-button {
  background-color: black;
  height: 10px;
  width: 10px;
  padding: 0.8rem;
  font-size: 0.8em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid gray 1px;
  transition: all;
  transition-duration: 0.6s;
  /* background-color: orange; */
}

.page-button:hover {
  background-color: rgba(159, 151, 151, 0.449);
}
.active-page {
  background-color: gray;
}
